<div class="topping" id="<%= dom_id topping %>">
  <h1>Name: <%=topping.name %></h1>
  
  <% if topping.pizzas.any? %>
    <h4>Pizzas with this topping</h4>
    <% topping.pizzas.each do |pizza| %>
      <span class="entry pizza">
      <%= link_to(pizza.name, pizza_path(pizza.id)) %>
      </span>
    <% end %>
  <% else %>
    <h4>No Pizzas have this topping. So sad :'(</h4>
  <% end %>

  <h2>Calories: <%=topping.calories %></h2>
  <p>This topping is considered <%=topping.healthiness %>.</p>
  <ul>
  </ul>
</div>
