<p style="color: green">
  <%= flash[:notice] %>
</p>

<div class="item-data-container">
  <%= link_to toppings_path do %>
    <div class="entry back">Back to Toppings</div>
  <% end %>

  <div class="item-form-img">
  </div>
  <div class="item-data">
    <%= render @topping %>
    <div style="display:flex; flex-flow: row nowrap; gap: 6px; overflow: scroll">
      <%= link_to edit_topping_path(@topping) do %>
        <div class="entry edit">Edit Topping</div>
      <% end %>
      <div class="entry delete">
        <%= button_to "DESTROY TOPPING", @topping, method: :delete %>
      </div>
    </div>
  </div>
</div>